@{
	//
}

<style>
	nav {
		flex: 0 0 10%; /* grow shrink basis */
	}
</style>

<nav class="bg-dark p-3 text-light text-center h-100 position-sticky sticky-top">
	<a asp-controller="Home" asp-action="Index" class="display-3 text-decoration-none link-light">FakeBlog</a>
	<ul class="nav flex-row flex-md-column justify-content-center text-center border-top mt-3">
		<li class="nav-item">
			<a asp-controller="Home" asp-action="Index" class="nav-link link-light">
				<i class="bi bi-house d-block"></i>Home
			</a>
		</li>
		<li class="nav-item">
			<a asp-controller="Home" asp-action="Search" class="nav-link link-light">
				<i class="bi bi-search d-block"></i>Search
			</a>
		</li>
		@if (User.Identity != null && User.Identity.IsAuthenticated)
		{
			<li class="nav-item">
				<a asp-controller="Account" asp-action="Index" asp-route-id="@User.Identity?.Name" title="My Profile" class="nav-link link-light">
					<i class="bi bi-person d-block"></i>My Profile
				</a>
			</li>
			<li class="nav-item visually-hidden">
				<a asp-controller="Blog" asp-action="Index" title="My Blogs" class="nav-link link-light">
					<i class="bi bi-pen d-block"></i>My Blogs
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Account" asp-action="Settings" title="Settings" class="nav-link link-light">
					<i class="bi bi-person-gear d-block"></i>Settings
				</a>
			</li>
		}
		else
		{
			<li class="nav-item">
				<a asp-controller="Account" asp-action="Login" title="Login" class="nav-link link-light">
					<i class="bi bi-box-arrow-in-right d-block"></i>Login
				</a>
			</li>
			<li class="nav-item">
				<a asp-controller="Account" asp-action="Register" title="Register" class="nav-link link-light">
					<i class="bi bi-person-plus d-block"></i>Register
				</a>
			</li>
		}
	</ul>
</nav>