@using FakeBlog.Models.Blog
@model FakeBlogModel

@{
	ViewData["Title"] = "Blog Edit";
	bool userLoggedIn = User.Identity != null && User.Identity.IsAuthenticated ? true : false;
	bool userIsAuthor = userLoggedIn && Model.Author == User.Identity?.Name ? true : false;
}

<div class="bg-light border p-3">
	@if (Model == null)
	{
		<p class="lead text-danger">Error loading blog</p>
	}
	else
	{
		@if (userLoggedIn && userIsAuthor)
		{
			<a href="#" class="btn btn-outline-dark">
				<i class="bi bi-pencil me-1"></i>Edit
			</a>
		}

		<h1 class="display-1">@Model.Title</h1>
		<p class="lead">@Model.Content</p>

		<a asp-controller="Blog" asp-action="Report" asp-route-id="@Model.BlogId">Report post</a>
	}
</div>